.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: var(--yellow-th-nav-bg-color);

  &__footer-text {
    padding: 20px;
    
    
    h3{
        color: var(--yellow-th-main-color);
        font-size: 2rem;
        font-weight: 500;
    }
  }
}
